@model IEnumerable<ProjetoFinalFaculdade.Models.Professor>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Professores</h2>


<p>
    @Html.ActionLink("Novo Professor", "New", null, new { @class = "btn btn-primary" })
</p>

@if (@Model.Any())
{

    <table id="professores" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var professor in Model)
            {
                <tr>
                    <td> @Html.ActionLink(professor.Nome, "Details", new { professor.Id })</td>
                    <td> @professor.Matricula</td>
                    <td> @professor.Email</td>
                    <td>
                        <p>
                            @Html.ActionLink(" ", "Edit", new { professor.Id }, new { @class = "glyphicon glyphicon-pencil" })
                        </p>
                    </td>
                    <td>
                        <button class="btn-link js-delete" data-professor-id="@professor.Id"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não existem alunos cadastrados.</p>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#professores").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Quer remover o registro?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/professor/delete/" + button.attr("data-professor-id"),
                            method: "GET",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
    </script>
}
