@model ProjetoFinalFaculdade.Models.Aluno
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>
<p>CPF: @Model.CPF</p>
<p>Matricula: @Model.Matricula</p>
<p>Data nascimento: @Model.DataNascimento</p>
<p>Email: @Model.Email</p>
<p>Telefone: @Model.Telefone</p>
<p>Curso: @Model.Curso.Nome</p>
<p>Fase: @Model.Fase</p>


