@model IEnumerable<ProjetoFinalFaculdade.Models.Aluno>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alunos</h2>

<p>
    @Html.ActionLink("Novo Aluno", "New", null, new { @class = "btn btn-primary" })
</p>

@if (@Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matricula</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aluno in Model)
            {
                <tr>
                    <td> @Html.ActionLink(@aluno.Nome, "Details", new { aluno.Id })</td>
                    <td> @aluno.Matricula</td>
                    <td> @aluno.Email</td>
                    <td>
                        <p>
                            @Html.ActionLink("Editar", "Edit", new { aluno.Id }, new { @class = "btn btn-primary" })
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não existem alunos cadastrados.</p>
}

