@model ProjetoFinalFaculdade.Models.Curso
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>
<p>Ementa: @Model.Ementa</p>
<p>Duracao: @Model.Duracao</p>
<p>Mensalidade: @Model.Mensalidade</p>
<p>Coordenador: @Model.Coordenador</p>

